{% extends './base.html' %}

{% block title %} Index {% endblock %}
{% block body %}

<div class="container-fluid bg-light py-5 text-center">
    <div class="row align-items-start">
        
      <div class="col-sm-4 py-2"> <h1>Juegos</h1>
        
        <a href="/juegos"><img src="static\IMG\20230406_132132.jpg" class="img-fluid"></a>
      </div>
      <div class="col-sm-4 py-2"> <h1>Fotos</h1>
        
        <a href="/fotos"><img src="static\IMG\20230406_135203.jpg" class="img-fluid"></a>
      </div>
      <div class="col-sm-4 py-2"> <h1>Extras</h1>
        
        <a href=""><img src="static\IMG\20230406_135239.jpg" class="img-fluid"></a>
      </div>
    </div>
  </div>
{% endblock %}